:root {
  --color-night: #0f0f0f;
  --color-dark-grey: #2a2929;
  --color-grey: #444342;
  --color-yellow: #ffd000;
  --color-gold: #ffb700;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-grey);
}

h1,
h2,
h3,
.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  color: var(--color-night);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  line-height: 1.5rem;
}

ul.links {
  list-style-type: none;
  padding: 0;
}

.section-container {
  max-width: 1280px;
  padding: 60px;
  margin: 0 auto;
}

svg{
  width: 1rem;
}

a,
a svg {
  color: var(--color-grey);
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

a:hover,
a:hover svg {
  color: var(--color-night);
}

header {
  background: linear-gradient(165deg, var(--color-gold) 0%, var(--color-gold) 50%, rgba(255, 255, 255) 50%, rgba(255, 255, 255) 100%);
}

header .about-me {
  display: flex;
  align-items: center;
}

header .about-me .profile-container {
  float: left;
  z-index: 1;
}

header .about-me .profile-container img#profile-picture {
  width: 480px;
  height: 600px;
  object-fit: cover;
  object-position: 75% center;
}

header .about-me .profile-container #profile-id {
  margin: 0;
  line-height: 0;
  text-align: center;
  transform: translateY(-3rem);
  color: white;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

header .about-me .description {
  padding: 0 40px 0 30px;
  background-color: white;
}

header .about-me .description .detail {
  font-size: 1.2rem;
  line-height: 2rem;
}

header .about-me .description .social-links {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  font-size: 2rem;
}

header .about-me img#profile-picture,
header .about-me .description {
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

main .projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

main .projects .project-card {
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

main .projects .project-card .project-image-link .project-image {
  width: 100%;
  height: 280px;
  background-color: grey;
}

main .projects .project-card .project-detail {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 16px;
  padding: 12px 24px 24px;
  height: 160px;
}

main .projects .project-card .project-detail * {
  margin: 0;
}

main .projects .project-card .project-detail .project-links {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 2rem;
}

main .projects .project-card .project-detail .project-links svg {
  width: 2rem;
}

main .projects .project-card .project-detail .project-description {
  grid-column: 1 / 3;
}

footer {
  background-color: var(--color-gold);
  margin-top: 60px;
}

footer .contact-me {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 36px;
}

footer .contact-me .contact-details .title {
  margin: 0;
}

footer .contact-me .contact-details p {
  font-size: 1.2rem;
}

footer .contact-me .contact-details svg {
  width: 1.2rem;
  margin-right: 8px;
  margin-bottom: -2px;
}

footer .contact-me .contact-details .social-links {
  display: flex;
  gap: 24px;
  font-size: 2rem;
}

footer .contact-me img.contact-decoration {
  width: 100%;
  height: 420px;
  object-fit: cover;
  object-position: 50% 40%;
}

@media (max-width: 960px) {
  .section-container {
    padding: 60px 80px;
  }

  header {
    background: linear-gradient(155deg, var(--color-gold) 0%, var(--color-gold) 50%, rgba(255, 255, 255) 50%, rgba(255, 255, 255) 100%);
  }

  header .about-me {
    display: block;
    position: relative;
  }
  
  header .about-me .profile-container {
    margin-left: -45px;
    margin-right: 20px;
  }

  header .about-me .profile-container img#profile-picture {
    width: 360px;
    height: 480px;
  }

  header .about-me .profile-container #profile-id {
    line-height: normal;
    text-align: start;
    transform: translateY(0);
    position: absolute;
    top: 80px;
    left: 50%;
  }

  header .about-me .description {
    padding: 20px;
    margin-top: 100px;
  }

  header .about-me .description .title {
    text-align: center;
  }

  footer .contact-me {
    grid-template-columns: 5fr 4fr;
  }
}

@media (max-width: 648px) {
  .section-container {
    padding: 20px;
  }

  header {
    background: linear-gradient(145deg, var(--color-gold) 0%, var(--color-gold) 38%, rgba(255, 255, 255) 38%, rgba(255, 255, 255) 100%);
  }

  header .about-me .profile-container {
    margin: 0;
    padding: 20px;
  }

  header .about-me .profile-container img#profile-picture {
    width: 100%;
  }

  header .about-me .profile-container #profile-id {
    line-height: 0;
    text-align: center;
    transform: translateY(-3rem);
    position: static;
  }

  header .about-me .description {
    box-shadow: none;
    background: none;
    padding: 0;
  }

  header .about-me .description .title {
    margin: 0;
  }

  header .about-me .description .social-links {
    justify-content: center;
  }

  footer .section-container {
    padding: 0;
  }

  footer .contact-me {
    grid-template-columns: 1fr;
  }

  footer .contact-me .title {
    text-align: center;
  }

  footer .contact-me .contact-details {
    padding: 40px 20px 0;
  }

  footer .contact-me .contact-details .call-to-action {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  footer .contact-me .contact-details .social-links {
    justify-content: center;
    font-size: 3rem;
    gap: 36px;
    margin-bottom: 10px;
  }
}
